main {
  margin-top: 100px;
}
header {
  background-color: #9b9bfb;
}
.slogan {
  width: 50px;
  height: 50px;
}
body {
  background-color: lavender;
}
.card-largura {
  max-width: 18rem;
}
.card-posicao-imagem {
  object-fit: cover;
  height: 200px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.corBotao {
  background-color: #a10cf5;
  color: black;
  transition: 1s;
}
.corBotao:hover {
  background-color: #3c055c;
  color: white;
}
#corLogo {
  color: black;
}
#corBotaoContato {
  background-color: #8f0bdb;
}
#corBotaoContato:hover {
  background-color: #ba80db;
}
#footerPrincipal {
  background-color: #590082;
  color: white;
  font-weight: bold;
}
