.imagen{
    height: 400px;
    object-fit: cover;
    object-position: 0 2px;
}
.imagen-spirit{
    height: 400px;
    object-fit: cover;
    object-position: 0 40%;
}
.imagen-pirata{
    height: 400px;
    object-fit: cover;
    object-position: 0 40%;
}
.imagen-mad{
    height: 400px;
    object-fit: cover;
    object-position: 0 20%;
}
.imagen-sherek{
    height: 400px;
    object-fit: cover;
    object-position: 0 20%;
}
.imagen-gt{
    height: 400px;
    object-fit: cover;
    object-position: 0 2px;
}
.imagen-av{
    height: 400px;
    object-fit: cover;
    object-position: 0 20%;
}
.imagen-tb{
    height: 400px;
    object-position: 0 20%;
}
.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}
.cards{
    max-width: 18rem;
}
.img-cards{
    object-fit: cover;
    height: 200px;
}
.cor-botao{
    background-color: darkgoldenrod;
    color: black;

}
/* .texto{
    color: black;
    font-size: 30px;
    font-weight: bold;
} */