body {
  background-color: lavender;
}
.cor-fundo {
  background-color: lavender;
}
.cor-logo {
  color: #a10cf5 !important;
}
header {
  background-color: #9b9bfb;
}
.logo {
  width: 50px;
  height: 50px;
}
.cor-botao {
  background-color: #8f0bdb;
  color: white;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.principal {
  width: 90%;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo_capa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.none {
  display: none;
}

#footerPrincipal {
  background-color: #590082;
  color: white;
  font-weight: bold;
}
.cor-botao:hover {
  background-color: #590082;
  color: white;
}
