body {
  background-color: lavender;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cor-fundo {
  background-color: lavender;
}
.cor-logo {
  color: #a10cf5 !important;
}
header {
  background-color: #9b9bfb;
}
.logo {
  width: 50px;
  height: 50px;
}
.cor-botao {
  background-color: #8f0bdb;
  color: white;
}
main {
  display: flex;
  justify-content: center;
}
.principal {
  padding: 30px 0 70px 0;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  margin-bottom: 20px;
}
.centro {
  text-align: center;
}
.none {
  display: none;
}
#footerPrincipal {
  background-color: #590082;
  color: white;
  font-weight: bold;
}
.cor-botao:hover {
  background-color: #590082;
  color: white;
}
