body{
    background-color: lavender;
    
}
.cor-fundo{
    background-color: lavender;
}
.cor-logo{
    color: #A10CF5 !important
}
header{
    background-color: #9B9BFB;
}
.cor-botao{
    background-color:#8F0BDB ;
    color: white;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
}
.principal{
    width: 90%;
    background-color: lavender;
    display: block;
    justify-content: center;
    align-items: center;
}
.none{
    display: none;
}

#footerPrincipal{
    background-color: #590082;
    color: white;
    font-weight: bold;
  }
  .cor-botao:hover{
      background-color:  #590082;
      color: white;
  }