/* RESETE CSS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  clear: none;
}

/* CSS das paginas Login e recuperação de senha */

body {
  display: flex;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  justify-content: space-between;
}
.slogan {
  width: 50px;
  height: 50px;
}
main {
  margin-top: 100px;
}

.bloco-principal {
  display: flex;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  width: 400px;
  border: 3px solid #f1f1f1;
  padding-bottom: 15px;
}

.alinhar-centro {
  display: flex;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #f1f1f1;
}
.recup-senha {
  text-align: center;
  margin-top: 15px;
}

button {
  background-color: #8f0bdb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: 1s;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #1b1817;
}

.imgcontainer {
  text-align: center;
  margin-top: 15px;
}

.img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.botoes {
  padding: 15px;
}

span.pass {
  display: inline-block;
  padding-top: 15px;
  margin-left: 100px;
}

#footerPrincipal {
  display: flex;
  justify-content: center;
  background-color: #590082;
  color: white;
  font-weight: bold;
  margin-top: 50px;
}
.textorecupera {
  text-align: center;
}

.textorecupera {
  text-align: center;
}

.textorecupera {
  text-align: center;
}

@media screen and (max-width: 300px) {
  span.pass {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
