* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    clear: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
form {
    border: 3px solid #f1f1f1;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #f1f1f1;
}

button {
    background-color: #FFD000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #1b1817 ;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.botoes {
    padding: 15px;
}

span.pass {
    float: right;
    padding-top: 15px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.pass {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}