body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lavender;
}
.background {
  background-color: #9b9bfb;
}
.text-white {
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pesquisa {
  margin-top: 60px;
  width: 60%;
}
.resultado {
  margin: 50px 0;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.resultado div {
  text-align: center;
  margin: 20px;
}
.resultado img {
  height: 200px;
}
.resultado h3,
.resultado p {
  font-size: smaller;
}
.none {
  display: none;
}
#footerPrincipal {
  background-color: #590082;
  color: white;
  font-weight: bold;
}
@media (max-width: 400px) {
  .barraDePesquisa span {
    display: none;
  }
}
