header {
    background-color: lavender;
}

.cabecalho {
    z-index: initial;
}

.dados1 {
    background-color: #BB6AE0;
    padding: 2em;
}

.invalido {
    color: red;
}

#footerPrincipal {
    background-color: #590082;
    color: white;
    font-weight: bold;
}

.info {
    margin-top: 40px;
}