header {
    background-color: lavender;

}

.slogan {
    width: 50px;
    height: 50px;

}

.cabecalho {
    z-index: initial;
}

.dados1 {
    background-color: #BB6AE0;
    padding: 2em;
}

.planos {
    margin-top: 40px;
}

.invalido {
    color: red;
}

#footerPrincipal {
    background-color: #590082;
    color: white;
    font-weight: bold;
}

.info {
    margin-top: 40px;
}

.check {
    margin-top: 13px;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}